{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | Edit User profile {% endblock %}


{% block content %}

    <div class="container-fluid h-10">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="mb-4 border-bottom solid">
                    <i class="bi bi-piggy-bank fs-2">&nbsp;</i>
                    <span class="fs-2"><b>BUDGET</b>PLANNER</span>
                </div>
                <h1>Edit User profile</h1>
                <form method="POST" action="">
                    {% csrf_token %}


                    <div class="form-group mb-3">
                        <label for="{{user_form.username.name}}" class="form-label">{{user_form.username.label}}</label>
                        {{user_form.username|add_class:"form-control form-control-lg"}}
                    </div>

                    <div class="form-group mb-3">
                        <label for="{{user_form.first_name.name}}" class="form-label">{{user_form.first_name.label}}</label>
                        {{user_form.first_name|add_class:"form-control form-control-lg"}}
                    </div>


                    <div class="form-group mb-3">
                        <label for="{{user_form.last_name.name}}" class="form-label">{{user_form.last_name.label}}</label>
                        {{user_form.last_name|add_class:"form-control form-control-lg"}}
                    </div>

                    <div class="form-group mb-3">
                        <label for="{{user_form.email.name}}" class="form-label">{{user_form.email.label}}</label>
                        {{user_form.email|add_class:"form-control form-control-lg"}}
                    </div>

                    <div class="form-group d-grid gap-2 mb-3">
                        <input type="submit" class="btn btn-primary" value="Submit">

                    </div>
                    <p>If you would like to reset Password: <a href="{%url 'reset_password' %}">Reset password</a></p>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
