{% extends "base.html" %}


{% block title %}BP | Logout{% endblock %}


{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="mb-4 border-bottom solid">
                <i class="bi bi-piggy-bank fs-2">&nbsp;</i>
                <span class="fs-2"><b>BUDGET</b>PLANNER</a></span>
            </div>
            <h1>Log out</h1>
            <p>Thank you for using Planner application. Hope you enjoined it.</p>
            <p>Log in again? <a href="{%url 'login' %}">Login</a></p>

        </div>
    </div>
</div>

{% endblock %}
