{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | Change Password {% endblock %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">

                <h1>Change Password</h1>
                <form method="POST" action="">

                    <div class="form-group mb-3">
                        <label for="{{form.old_password.name}}" class="form-label">{{form.old_password.label}}</label>
                        {{form.old_password|add_class:"form-control form-control-lg"}}
                    </div>
                    {{ form.old_password.errors }}

                    <div class="form-group mb-3">
                        <label for="{{form.new_password1.name}}" class="form-label">{{form.new_password1.label}}</label>
                        {{form.new_password1|add_class:"form-control form-control-lg"}}
                        <div class="form-text">{{form.new_password1.help_text}}</div>
                    </div>

                    {{ form.new_password2.errors }}

                    <div class="form-group mb-3">
                        <label for="{{form.new_password2.name}}" class="form-label">{{form.new_password2.label}}</label>
                        {{form.new_password2|add_class:"form-control form-control-lg"}}
                    </div>


                    <div class="form-group d-grid gap-2 mb-3">
                        <input class="btn btn-primary" type="submit" value="Change password">
                        <a href="{%url 'user_profile' %}" class="btn btn-outline-secondary btn-sm">Cancel</a>
                    </div>

                </form>

            </div>
        </div>
    </div>

{% endblock content %}