{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | Password reset {% endblock %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="mb-4 border-bottom solid">
                    <i class="bi bi-piggy-bank fs-2">&nbsp;</i>
                    <span class="fs-2"><b>BUDGET</b>PLANNER</span>
                </div>
                    <p>
                        Enter your email and a mail will be sent with instruction to reset password
                    </p>
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                        <label for="{{form.email.name}}" class="form-label">{{form.email.label}}</label>
                        {{form.email|add_class:"form-control form-control-lg"}}
                    </div>
                    <div class="form-group d-grid gap-2 mb-3">
                        <input type="submit" name="Sent_email" class="btn btn-primary" value="Send email">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!--<h2>Password reset/change form</h2>-->

<!--<p> Enter your email below you will receive instruction.</p>-->

<!--<form method="POST" action="">-->
<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<!--    <input type="submit" name="Sent_email" class="button" value="Send email">-->

<!--</form>-->