{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | New password set {% endblock %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="mb-4 border-bottom solid">
                    <i class="bi bi-piggy-bank fs-2">&nbsp;</i>
                    <span class="fs-2"><b>BUDGET</b>PLANNER</a></span>
                </div>
                <h2>Password reset confirm:</h2>
                <p>Please enter your new password.</p>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form}}

                    <div class="form-group mb-3">
                        <label for="{{form.new_password1.name}}" class="form-label">{{form.new_password1.label}}</label>
                        {{form.new_password1|add_class:"form-control form-control-lg"}}
                        <div class="form-text">{{form.new_password1.help_text}}</div>
                    </div>

                    <div class="form-group mb-3">
                        <label for="{{form.new_password2.name}}" class="form-label">{{form.new_password2.label}}</label>
                        {{form.new_password2|add_class:"form-control form-control-lg"}}
                        <div class="form-text">{{form.new_password2.help_text}}</div>
                    </div>
                    <div class="form-text">{{form.new_password2.help_text}}</div>


                    <div class="form-text">{{form.new_password1.errors}}</div>

                    <div class="form-group d-grid gap-2 mb-3">
                        <input class="btn btn-primary" type="submit" value="Reset password">
                    </div>

                </form>
            </div>
        </div>
    </div>

{% endblock content %}

