{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | Password change completed  {% endblock %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">

                    <h4>Password has been changed successfully....</h4>

                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form }}


                </form>
            </div>
        </div>
    </div>

{% endblock content %}