{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}BP | Password reset complete  {% endblock %}


{% block content %}

    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="mb-4 border-bottom solid">
                    <i class="bi bi-piggy-bank fs-2">&nbsp;</i>
                    <span class="fs-2"><b>BUDGET</b>PLANNER</a></span>
                </div>
                    <h4>Password has been changed.</h4>

                    <p>Please use new passord for Login </p>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form }}


                    <div class="form-group d-grid gap-2 mb-3">
                        <a href="{%url 'login' %}" class="btn btn-primary">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}




