{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container form-container">
    <form action="." method="post">
        {% csrf_token %}
        <div class="row pb-2">
            <div class="col">
                {{form.category_name.errors}}
                <label for="{{form.category_name.name}}" class="form-label">{{form.category_name.label}}</label>
                {{form.category_name|add_class:"form-control"}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col">
                {{form.type.errors}}
                <label for="{{form.type.name}}" class="form-label">{{form.type.label}}</label>
                {{form.type|add_class:"form-select"}}
            </div>
        </div>

        <div class="row pb-2">
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Dodaj kategorię</button>
            </div>
        </div>
        <input type="hidden" name="back_url" value="{{ back_url }}">
    </form>
</div>
{% endblock content %}