{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="p-3 bg-white border border-light rounded shadow">
        <div class="row px-2">
            <span class="mb-2 border-bottom border-2">
                <h1 class="fs-3">Your transaction categories</h1>
            </span>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <a href="{% url 'planner:add_category' %}?back_url={{ request.path }}"
                        class="btn btn-outline-success">New category
                    </a>
                    <button type="button" class="btn btn-outline-danger" onclick="deleteRows()">Delete selected</button>
                </div>
                <table id="table" data-select-item-name="selected" data-toggle="table" data-search="true"
                    data-show-export="true" data-toolbar="#toolbar" data-show-toggle="true" data-toolbar-align="left"
                    data-show-fullscreen="true" data-pagination="true" data-classes="
                            table 
                            table-responsive
                            table-hover
                            align-middle">
                    <thead>
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-visible="false">id</th>
                            <th data-field="category_name">Category name</th>
                            <th data-field="type">Type</th>
                            <th data-field="is_default">Is default?</th>
                            <th data-field="user">User</th>
                            <th data-field="action">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in categories %}
                        <tr>
                            <td></td>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.category_name }}</td>
                            <td>{{ obj.type }}</td>
                            <td>{{ obj.default }}</td>
                            <td>{{ obj.users }}</td>
                            <td>
                                <button class="btn btn-outline-secondary btn-sm edit-button" data-id="{{ obj.id }}">Click</>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript>
    var base_url = '{{ request.path }}';
    var csrf_token = '{{ csrf_token }}';
    var delete_url = 'delete_categories/';
</script>
<script src="{% static 'js/table_button_delegation.js' %}"></script>
<script src="{% static 'js/table_delete_rows.js' %}" data-csrf-token='{{ csrf_token }}'></script>
{% endblock content %}