<h2>Login</h2>

<form method="POST" action="">
    {% csrf_token %}


    <label>Username</label>
    <input type="text" name="username" class="form-control">
    <label>Password</label>
    <input type="text" name="password" class="form-control">


    <input type="submit" name="Login">

    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}


</form>

<p>You do not have an account? <a href="{%url 'register' %}">Register</a></p>
<p>You do not remamber password? <a href="{%url 'reset_password' %}">Reset password</a></p>