{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="p-3 bg-white border border-light rounded shadow">
        <div class="row px-2">
            <span class="mb-2 border-bottom border-2">
                <h1 class="fs-3">Your budgets</h1>
            </span>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar">
                    <a href="{% url 'budgets:add_budget' %}?back_url={{ request.path }}"
                        class="btn btn-outline-success"><i class="bi bi-plus-circle fs-5"></i>
                    </a>
                    <button type="button" class="btn btn-outline-danger" onclick="deleteRows()"><i class="bi bi-trash fs-5"></i></button>
                </div>
                <table id="table" 
                    data-select-item-name="selected" 
                    data-toggle="table" 
                    data-search="true"
                    data-show-columns="false"
                    data-toolbar="#toolbar" 
                    data-show-toggle="false" 
                    data-toolbar-align="left"
                    data-show-fullscreen="false" 
                    data-pagination="true"
                    data-classes="
                        table 
                        table-responsive
                        table-hover
                        align-middle">
                <thead class="bg-light">
                        <tr>
                            <th data-field="state" data-checkbox="true"></th>
                            <th data-field="id" data-visible="false">id</th>
                            <th data-field="budget_name" data-sortable="true">Budget name</th>
                            <th data-field="amount" data-sortable="true">Amount</th>
                            <th data-field="start_date" data-sortable="true">From date</th>
                            <th data-field="end_date" data-sortable="true">To date</th>
                            <th data-field="action" data-sortable="true">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in budgets %}
                        <tr>
                            <td></td>
                            <td>{{ obj.id }}</td>
                            <td>{{ obj.budget_name }}</td>
                            <td>{{ obj.amount }}</td>
                            <td>{{ obj.start_date }}</td>
                            <td>{{ obj.end_date }}</td>
                            <td>
                                <button class="btn btn-outline-secondary btn-sm edit-button" data-id="{{ obj.id }}">Click</>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type=text/javascript>
    var base_url = '{{ request.path }}';
    var csrf_token = '{{ csrf_token }}';
    var delete_url = 'delete_budget/';
</script>
<script src="{% static 'js/table_button_delegation.js' %}"></script>
<script src="{% static 'js/table_delete_rows.js' %}" data-csrf-token='{{ csrf_token }}'></script>
{% endblock content %}